<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.ease.category.system"
            class="org.eclipse.ease.ext.modules.refactoring.jdt.RefactoringJdtModule"
            id="org.eclipse.ease.ext.modules.refactoring"
            name="RefactoringJdt"
            visible="true">
      </module>
       <module
            category="org.eclipse.ease.category.system"
            class="org.eclipse.ease.ext.modules.refactoring.poet.RefactoringPoetModule"
            id="org.eclipse.ease.ext.modules.refactoring.javapoet"
            name="RefactoringPoet"
            visible="true">
      </module>
   </extension>

</plugin>
